    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About OER Incentives</h2>
              <br/>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pulvinar lectus non viverra faucibus. In purus velit, dignissim eget massa non, pulvinar bibendum nunc. Maecenas sapien ante, efficitur et volutpat ac, mattis consectetur urna. Phasellus ullamcorper ante nunc, eu pretium magna pretium nec. Vivamus a nisl nec nunc egestas efficitur. Suspendisse sed mollis sem. Nulla tincidunt efficitur nisi, ut tempus nisl. Donec maximus scelerisque magna egestas varius. Nunc euismod vehicula fermentum. Duis tristique vitae est sed commodo. Phasellus porta consectetur ipsum a commodo. Mauris auctor lacus lorem, ac blandit enim facilisis eu.</p>

<p>Mauris luctus tincidunt tincidunt. Donec leo lorem, bibendum cursus arcu ut, consectetur pellentesque turpis. Donec laoreet ex felis. Nam sed suscipit lectus. Donec dictum ex mauris, quis consequat velit volutpat et. Praesent sed suscipit nunc. Donec aliquet eros in malesuada tristique. Aliquam sed ligula tortor. Sed imperdiet, erat vitae placerat semper, nisi turpis sodales augue, in tincidunt neque lectus vel nulla. Aenean sit amet euismod ligula.</p>
                <br/>
              </div>
        </div>
    </section>
